@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.perspective { perspective: 1000px; }
.transform-style-preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(-180deg); }

body {
  background-color: #fffaf8; /* soft beige background */
  color: #6b2020; /* dark reddish-brown text */
  font-family: 'Georgia', 'Times New Roman', serif;
}

h1, h2, h3 {
  color: #a12222; /* MeTILDA-style heading red */
}


